{% include "global/partials/head.html" %}

{% include "global/partials/header.html" %}

{% include "recipes/partials/search.html" %}

<main class="main-content-container">
  <div class="main-content main-content-list container">
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
  </div>
</main>
{% include "global/partials/footer.html" %}