{% include "recipes/partials/head.html" %}

{% include "recipes/partials/header.html" %}

{% include "recipes/partials/search.html" %}

<div class="main-content-container">
  <div class="main-content main-content-list container">
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
    {% include "recipes/partials/recipe-item.html" %}
  </div>
</div>
{% include "recipes/partials/footer.html" %}